@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #264969;
  --secondary-color: #505033;
  --accent1-color: #FF924A;
  --accent2-color: #E8E8E4;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--accent2-color);
  color: var(--primary-color);
}

.logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px;
}

.logo-box img {
  height: 50px;
}

.logo-box nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.logo-box nav a:hover {
  text-decoration: underline;
}

h1 {
  color:#264969;
  font-family: 'Oswald', sans-serif;
}

h2 {
  color:#264969;
  font-family: 'Oswald', sans-serif;
}

h3 {
  color:#264969;
  font-family: 'Oswald', sans-serif;
}

h4 {
  color:#264969;
  font-family: 'Oswald', sans-serif;
}

h5  {
  color:#264969;
  font-family: 'Oswald', sans-serif;
}

h6  {
  color:#264969;
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-color);
  margin-bottom: 1em;
}
a  {
    text-decoration: none;
  }
  
